@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&display=swap');

/* smooth scroll */
html {
  scroll-behavior: smooth;
}
/* css rest */
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
body{

}
/* style Burger menu > 3 */
.nav-container{
  display:flex;
  justify-content:space-between;
  padding:20px 20px;
  width:100%;
  background-color:#F6F6F6;
}
.logo-container{
  display:flex;
  justify-content: center;
  align-items:center;
}
.logo-container img{
  height:50px;
  width:50px;
  border-radius:50%;
  background-size:cover;
}
.burger{
  margin-top:8px;
}
#burger-menu{
  height:8px;
  width:30px;
  background-color:rgb(239,60,60);
  opacity:0.9;
  margin-top:2px;
  border-radius:2px;
}

.nav-items {
  display:block;
  flex-direction: column;
}

.nav-items a{
  display:block;
  padding:10px;
  text-align: center;
  text-decoration: none;
  color:white;
  font-family: 'Cormorant SC', serif;
  margin-top: 10px;
}
.nav-items a:hover{
  color:blue;
}
.nav-items.isactive{
  display:none;
}
.nav-items{
  position:absolute;
  background-color:rgb(239,60,60);
  opacity:1;
  color:white;
  width:100%;
  height:555px;
  animation: anima ease 1s;
}
/* nav item's card */
.nav-card{
  display:flex;
  margin-top:70px;
  margin-left: 10px;
}
.nav-card-content{
  height:150px;
  width:200px;
}
.nav-first-box {
  height:200px;
  width:90px;
  background-color: black;

}
.nav-second-box{
  display:flex;
  justify-content:center;
  height:200px;
  width:250px;
  background-color:#1b2135;
  animation: anima ease 1s;
}
.nav-card-hd{
  margin-top: 8px;
  color:#fff;
  font-weight:10px;
  padding:1px 0;
  font-family: 'Merriweather', serif;
}
.nav-card-sec-hd{
  color:#fff;
  font-family: 'Nunito', sans-serif;
}
span{
  color:blue;
}
.nav-card-line {
  height:3px;
  width:150px;
  background-color:#fff;
  margin-top: 5px;
}
.nav-tele-contact {
  color:#fff;
  margin-top:10px;
  font-family: 'Karla', sans-serif;
}
.nav-email-contact {
  color:#fff;
  font-family: 'Karla', sans-serif;
}
.nav-social-meadia {
  display:flex;
}
.nav-meaia-icon-box {
  height:30px;
  width:30px;
  border:0.5px solid blue;
  background-color: #1b2135;
  margin:0 2px;
  margin-top: 30px;
  display:flex;
  align-items: center;
  justify-content: center;

}

.nav-meaia-icon-box:hover{
  background-color:#4b4bd5;
}
.nav-meaia-icon-box:hover i{
  color:#fff;
}
i{
  color:blue;
}
@keyframes anima {
  0%{
  transform:translateX(-100%);
  }
  100%{
   transform:translateX(-1%);
  }
}

/* Content Section */
.content-section {
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  margin-top: 150px;
  animation: animation ease-out 1s;
}
.content {
  width:80%;
}
.cnt-para {
  text-transform:uppercase;
  font-weight:700;
  font-size: 13px;
  color:rgb(96,88,24);
  font-family: 'Nunito', sans-serif;
}
.cnt-heading{
  padding:15px 0;
  font-size:35px;
  font-weight:900;
  color:#5d0d5e;
  font-family: 'Merriweather', serif;
}
.sec-cnt-para{
  font-weight:300;
  text-transform:lowercase;
  font-family: 'Karla', sans-serif;
}
.btn-controller{
  padding:15px 0;
}
.Learn-More{
  border:0.5px solid ;
  background-color:#fff;
  padding:8px 15px;
  border-radius:2px ;
  font-family: 'Ubuntu Mono', monospace;
}
.Learn-More:hover{
  background-color:rgb(239,60,60);
  opacity:0.9;
  color: white;
  transition:ease 0.9s;
}
.Hire-me{
  border:0.5px solid ;
  background-color:#fff;
  padding:8px 15px;
  margin-left: 5px;
  border-radius:2px ;
  font-family: 'Ubuntu Mono', monospace;
}
.Hire-me:hover{
  background-color:rgb(239,60,60);
  opacity:0.9;
  color: white;
  transition:ease 0.9s;
}
/* card section */
.img-rapper {
  display:flex;
  justify-content:center;
  margin-top: 20px;
}
.card-section {
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  height:400px;
  width:260px;
  border-radius: 16px;
  background-color:#1b2135;
}
.pro{
  position:relative;
  top:25px;
  left:25px;
  hheight:30px;
  height:20px;
  width:40px;
  border-radius:3px;
  text-align:center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background-color: gold;
  font-weight: 900;
}
/* image container */
.img-container img{
  height:100%;
  width:100%;
}
.img-container{
  height:90px;
  width:90px;
  border-radius:50%;
  overflow: hidden;
}
.card-content {
  margin-top: 10px;
  color:white;
  text-align:center;
  font-size:18px;
  font-family: 'Michroma', sans-serif;
}
.card-para{
  padding:7px;
  color: white;
  font-size: 10px;
  font-weight: 900;
  text-align: center;
  text-transform:uppercase;
  font-family: 'Nunito', sans-serif;
}
.card-sec-para {
  color: white;
  text-align:center;
  padding:0 15px;
  font-size: 15px;
  font-family: 'Karla', sans-serif;
}
/* card buttons */
.nav-first-box h3{
  text-align:center;
  padding:3px;
}
.card-btn-controls {
  display:flex;
  justify-content: center;
  margin-top: 15px;
}
.message {
  border: none;
  padding:6px 13px;
  border:0.3px solid blue;
  color:blue;
  margin:0 5px;
  background-color: #1b2135;
  font-family: 'Nunito', sans-serif;
}
.message:hover{
  background-color:#4b4bd5;
  color:#fff;
  transition:ease 0.6s;
}
.following{
  border: none;
  padding:6px 13px;
  border:0.3px solid blue;
  color:blue;
  margin:0 5px;
  background-color: #1b2135;
  font-family: 'Nunito', sans-serif;
}
.following:hover{
  background-color:#4b4bd5;
  color:#fff;
  transition:ease 0.6s;
}


/* inter face animation */
@keyframes animation{
  0%{
    transform:translateY(20px);
  }
  100%{
    transform:translateaY(0);
  }
}

/* style to contact page */
.contact-card-section{
  height:100vh;
  width:100vw;
  background-color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
}
.contact-card {
  height:300px;
  width:230px;
  background-color:#fff;
  background-size:cover;
  box-shadow:2px 3px 20px rgb(0,0,0,0.5) ;

}

.contact-img-container img{
  height:100%;
  width:100%;
  overflow: hidden;
  position:center;
  object-fit: cover;
}
.contact-img-container{
  height:240px;
}
.contact-card-info{
  text-align:center;
}
.contact-info-hd {
  height:10px;
  margin-top:15px;
 font-family: 'Michroma', sans-serif;
}
.contact-info-para {
  padding:20px;
  font-weight: 900;
}
#relative{
  position:relative;
}
.icon-house{
  position:absolute;
  display:flex;
  bottom:260px;
  left:100px;
}
.icon-box {
  height:25px;
  width:25px;
  border: 0.5px solid black;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-left:12px;
  opacity:1;
}
.icon-box i{
  color:black;
}
.icon-box:hover{
  background-color:black;
}
.icon-box:hover i{
  color:white;
}
